<div class="container mt-2">
	<div class="row text-center mb-4">
		<div class="col-lg-8 col-sm-12 ">
			<ul class="nav nav-justified feed-tabs">
				<li class="nav-item">
					<a id="following" class="nav-link selected-tab" href="#" onclick="ChangeTab(this);return false;">Following <i class="fa-solid fa-user-group"></i></a>
				</li>
				<li class="nav-item">
					<a id="latest" class="nav-link" href="#" onclick="ChangeTab(this);return false;">Latest <i class="fa-solid fa-bullhorn"></i></a>
				</li>
				<li class="nav-item">
					<a id="popular" class="nav-link" href="#" onclick="ChangeTab(this);return false;">Popular <i class="fa-solid fa-fire"></i></a>
				</li>
			</ul>
		</div>
		<div class="col-lg-4 d-none d-lg-block">
			<div class="position-fixed w-25" style="max-width: 400px;">
				<ul class="nav nav-justified feed-tabs">
					<li class="nav-item">
						<a class="nav-link" asp-action="Create">Create Post <i class="fa-solid fa-circle-plus fa-lg"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-sm-12">
			<div id="container"></div>
			<div id="progress" style="display:none">
				<h4 class="text-center">Loading...</h4>
			</div>
			<div id="end" style="display:none">
				<h4 class="text-center">There are no more posts...</h4>
			</div>
		</div>
		<div class="col-lg-4 d-none d-lg-block">
			<div class="position-fixed w-25" style="max-width: 400px;">
				<div class="card border-0 shadow-sm">
					<div class="card-header">
						<h4 class="card-title">Popular Topics <i class="fa-solid fa-arrow-trend-up"></i></h4>
						<p class="card-subtitle text-secondary">Check out these trending topics!</p>
					</div>
					<div class="card-body">
						<div class="row text-center">
							<span class="col-6 fw-bold">Tag Name</span>
							<span class="col-6 fw-bold">Count</span>
						</div>
						@foreach (var TagCountPair in ViewBag.PopularTags)
						{
							<div class="row text-center">
								<span class="col-6 text-truncate"><a class="text-decoration-none text-info" asp-action="TagSearch" asp-route-name="@TagCountPair.Key">#@TagCountPair.Key</a></span>
								<span class="col-6">@TagCountPair.Value</span>
							</div>
						}
					</div>
				</div>
				<div class="card border-0 shadow-sm mt-3 mb-5">
					<div class="card-header">
						<h4 class="card-title">Popular Accounts <i class="fa-solid fa-user"></i></h4>
						<p class="card-subtitle text-secondary">Popular accounts you can follow:</p>
					</div>
					<div class="card-body">
						<div class="row text-center">
							<span class="col-6 fw-bold">Username</span>
							<span class="col-6 fw-bold">Follower Count</span>
						</div>
						@foreach (var UsernameCountPair in ViewBag.PopularAccounts)
						{
							<div class="row text-center">
								<span class="col-6 text-truncate"><a class="text-decoration-none text-info" asp-controller="Account" asp-action="Profile" asp-route-username="@UsernameCountPair.Key">@@@UsernameCountPair.Key</a></span>
								<span class="col-6">@UsernameCountPair.Value</span>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		let pageSize = 5;
		let pageIndex = 0;
		let firstPostId = 0;
		let isDataNull = false;

		let currentTab = "following";
		let url = "/api/Feed/GetFollowingData";

		$(document).ready(function () {
			SetPage();
		});

		function ChangeTab(element) {
			let tab = $(element).attr("id");
			if (currentTab === tab) {
				return;
			}

			$("#" + currentTab).removeClass("selected-tab");
			$("#" + tab).addClass("selected-tab");
			currentTab = tab;

			ClearContainer();

			switch (tab) {
				case "following":
					url = "/api/Feed/GetFollowingData";
					break;
				case "latest":
					url = "/api/Feed/GetLatestData";
					break;
				case "popular":
					url = "/api/Feed/GetPopularData";
					break;
				default:
				// code block
			}

			SetPage();
		}

		function SetPage() {
			GetData(url);

			$(window).scroll(function () {
				if (!isDataNull && $(window).scrollTop() ==
					$(document).height() - $(window).height()) {
					GetData(url);
				}
			});
		}

		function ClearContainer() {
			$("#container").html("");
			pageIndex = 0;
			firstPostId = 0;
			isDataNull = false;
		}

		function GetData(url) {
			$.ajax({
				type: 'GET',
				url: url,
				data: { "pageindex": pageIndex, "pagesize": pageSize, "firstpostid": firstPostId },
				dataType: 'json',
				success: function (data) {
					if (data != null) {
						RenderPostComponent(data);

						if (pageIndex == 0) {
							firstPostId = $("#container div").first().attr("id");
						}

						pageIndex++;
					} else {
						isDataNull = true;
						if (pageIndex === 0 && currentTab === "following") {
							$("#container").html('<h4 class="text-info text-center mt-3">Follow people <i class="fa-solid fa-user-plus"></i> to see their posts here!</h4>');
						} else {
							$("#end").show();
						}
					}
				},
				beforeSend: function () {
					$("#progress").show();
				},
				complete: function () {
					$("#progress").hide();
				},
				error: function () {
					alert("Error while retrieving data!");
				}
			});
		}
	</script>
}