<div id="container"></div>
<div id="progress" style="display:none">
    <h4>Loading...</h4>
</div>
<div id="end" style="display:none">
    <h4>There are no more posts...</h4>
</div>

@section Scripts {
    <script type="text/javascript">
        let pageSize = 5;
        let pageIndex = 0;
        let firstPostId = 0;
        let isDataNull = false;

        $(document).ready(function () {
            GetData();

            $(window).scroll(function () {
                if (!isDataNull && $(window).scrollTop() ==
                    $(document).height() - $(window).height()) {
                    GetData();
                }
            });
        });

        function GetData() {
            $.ajax({
                type: 'GET',
                url: '/api/Feed/GetData',
                data: { "pageindex": pageIndex, "pagesize": pageSize, "firstpostid": firstPostId },
                dataType: 'json',
                success: function (data) {
                    if (data != null) {
                        RenderPostComponent(data);                        

                        if (pageIndex == 0) {
                            firstPostId = $("#container div").first().attr("id");
                        }

                        pageIndex++;
                    } else {
                        isDataNull = true;
                        $("#end").show();
                    }
                },
                beforeSend: function () {
                    $("#progress").show();
                },
                complete: function () {
                    $("#progress").hide();
                },
                error: function () {
                    alert("Error while retrieving data!");
                }
            });
        }        
    </script>
}